
<li>
    <div class="event-header">
      <h5><%= event.eventName %></h5>
      <div class="event-action-group">
        <div class="edit">
          <span><img src="/img/pen.png" alt="" class="icons pen"></span>Edit
        </div>
        <img class="line" src="/img/line.png" alt="">
        <div class="delete">Delete</div>
      </div>
    </div>
    <div class="dateandtime">
      <p class="date"><%= event.eventDate %></p>
      <p class="start-time"><%= event.startTime %></p>
      <p class="end-time"><%= event.endTime %></p>
    </div>
    <p class="description"><%= event.description %></p>
  </li>
  