<%- include('partials/header') -%>
<!-- <h1>My Plans / New</h1> -->

<%= theUser %>

<div><%- include('partials/navigation/breadcrumbs') -%></div>
<div class="body-container">
  <div class="left-section">
    <!--  FORM START  -->
    <form action="/users/update" method="POST" name="userUpdateForm" id="userUpdateForm">
     <div>
       <label for="firstName">First Name</label>
       <input name="firstName" id="firstName" type="text" value="<%= theUser.firstName %>" />
     </div>
    <div>
      <label for="lastName">Last Name</label>
      <input name="lastName" id="lastName" type="text" value="<%= theUser.lastName %>" />
    </div>
  <div>
    <label for="email">Email</label>
    <input name="email" id="email" type="text" value="<%= theUser.email %>" />
  </div>
      <input type="hidden" id="_id" name="_id" value="<%= theUser._id %>" />

      <input name="submitNewUser" type="submit" value="Submit" />
    </form>
    <!--  FORM END  -->
<div id="delete-section">
  <p class="delete-user">Delete this user?</p>
  <a class="button" href="/users/delete/<%= theUser._id %>">Delete User</a>
</div>

    <div class="right-section">
      <div class="google-maps"></div>
      <div class="weather">
        <!-- Event List -->
        <ul id="eventList"></ul>
      </div>
    </div>
  </div>

  <%- include('partials/footer') -%>
</div>
