<%- include('partials/header') -%>
<!-- <h1>My Plans / New</h1> -->

<%= theUser %>

<div><%- include('partials/navigation/breadcrumbs') -%></div>
<div class="body-container">
  <div class="left-section">
    <!--  FORM START  -->
    <form action="/users/update" method="POST" name="signupForm">
      <input type="hidden" id="_id" name="_id" value="<%= theUser._id %>" />
      <label for="firstName">First Name</label>
      <input name="firstName" id="firstName" type="text" value="<%= theUser.firstName %>" />
      <label for="lastName">Last Name</label>
      <input name="lastName" id="lastName" type="text" value="<%= theUser.lastName %>" />
      <label for="email">Email</label>
      <input name="email" id="email" type="text" value="<%= theUser.email %>" />

      <input name="submitNewUser" type="submit" value="Submit" />
    </form>
    <!--  FORM END  -->

    <div class="right-section">
      <div class="google-maps"></div>
      <div class="weather">
        <!-- Event List -->
        <ul id="eventList"></ul>
      </div>
    </div>
  </div>

  <%- include('partials/footer') -%>
</div>
