<%- include('partials/header') -%>
<div><%- include('partials/navigation/breadcrumbs') -%></div>
<div class="body-container">
  <h1>User Profile for <%= oneUser.firstName %>:</h1>
<div>
  <p><strong>Name:</strong> <%= oneUser.firstName %><%= oneUser.lastName %></p>
  <p><strong>Email:</strong> <%= oneUser.email %></p>
  <p><strong>Plans:</strong> Plans go here</p>
</div>


</div>

<%- include('partials/footer') -%>
